.App {
	text-align: center;
}

.card {
	width: 40%;
	height: 500px;
	border: 1px solid black;
	margin-bottom: 1rem;
	text-align: justify;
	margin-inline: auto;
}
.card-img {
	display: block;
	width: 100%;
	object-fit: cover;
	margin-bottom: 0.4rem;
}
.title {
	font-size: 1.1rem;
	text-transform: capitalize;
	margin-bottom: 0.03rem;
}
.price {
	font-size: 1.2rem;
	color: aquamarine;
	cursor: pointer;
}
